section {
    margin-top: 50px;
}        

.innrykk {
    margin-left: 25px
}

.oppgave {
    background-color: aqua;
    color: blueviolet;
    width: fit-content;
}

.list {
    border-style: dotted;
    border-width: 1px;
    width: fit-content;
}

.list_isNumbered {
    border-style:dashed;
    border-width: 1px;
    width: fit-content;
}

.imageContainer {
    width: 40px;
    transition: ease-in-out 500ms;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
