section {
    margin-top: 50px;
}        

.innrykk {
    margin-left: 25px
}

.oppgave {
    background-color: aqua;
    color: blueviolet;
    width: fit-content;
}

.list {
    border-style: dotted;
    border-width: 1px;
    width: fit-content;
}

.list_isNumbered {
    border-style:dashed;
    border-width: 1px;
    width: fit-content;
}

.imageList {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}