.flexcontainer {
    display: flex;
    flex-direction: column;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
}

#board>div {
    border: 1px solid lightblue;
}

.selected {
    background-color: pink;
}

.alignbuttons {
    display: flex;
    justify-content: center;

    button {
        background-color: rgb(142, 182, 235);
        width: 2rem;
        height: 2rem;
        margin: 1px;
    }
}

.alignitemscenter {
    align-items: center;
}
